@import "tailwindcss";

:root {
  /*--background: rgba(255, 255, 255, 1);
  --foreground: rgba(23, 23, 23, 1);
  --muted: rgba(82, 82, 82, 1);
  --border: rgba(229, 229, 229, 1);
  --hover: rgba(243, 244, 246, 1);
  --accent-neon: rgba(57, 255, 20, 1);
  --accent-blue: rgba(31, 81, 255, 1); */

  --background: rgba(255, 255, 255, 1);
  --foreground: rgba(23, 23, 23, 1);
  --muted: rgba(82, 82, 82, 1);
  --border: rgba(229, 229, 229, 1);
  --hover: rgba(243, 244, 246, 1);
  --accent-neon: rgba(57, 255, 20, 1);
  --accent-blue: rgba(31, 81, 255, 1);

  /* Background Grid Controls */
  /* --grid-base: The default subtle color of the static grid dots/lines */
  --grid-base: rgba(100, 100, 100, 0.2);
  /* --grid-hover */
  --grid-hover: rgba(200, 200, 255, 0.7);

  /* Spotlight & Interaction Controls */
  --spotlight-primary: #FFD600;
  --spotlight-secondary: #A855F7;
  --text-hover: #ffffff;
  --text-hover-muted: rgba(255, 255, 255, 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-hover: var(--hover);
  --color-accent-neon: var(--accent-neon);
  --color-accent-blue: var(--accent-blue);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}